<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="mission">
                <h2 class="jh-entity-heading"><span v-text="$t('sampleApp.mission.detail.title')">Mission</span> {{mission.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('sampleApp.mission.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{mission.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.mission.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{mission.description}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="mission.id" :to="{name: 'MissionEdit', params: {missionId: mission.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./mission-details.component.ts">
</script>
