<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="sampleApp.mission.home.createOrEditLabel" v-text="$t('sampleApp.mission.home.createOrEditLabel')">Create or edit a Mission</h2>
                <div>
                    <div class="form-group" v-if="mission.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="mission.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.mission.name')" for="mission-name">Name</label>
                        <input type="text" class="form-control" name="name" id="mission-name"
                            :class="{'valid': !$v.mission.name.$invalid, 'invalid': $v.mission.name.$invalid }" v-model="$v.mission.name.$model"  required/>
                        <div v-if="$v.mission.name.$anyDirty && $v.mission.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.mission.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.mission.description')" for="mission-description">Description</label>
                        <input type="text" class="form-control" name="description" id="mission-description"
                            :class="{'valid': !$v.mission.description.$invalid, 'invalid': $v.mission.description.$invalid }" v-model="$v.mission.description.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.mission.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./mission-update.component.ts">
</script>
