<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="sampleApp.spaceEvent.home.createOrEditLabel" v-text="$t('sampleApp.spaceEvent.home.createOrEditLabel')">Create or edit a SpaceEvent</h2>
                <div>
                    <div class="form-group" v-if="spaceEvent.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="spaceEvent.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.name')" for="space-event-name">Name</label>
                        <input type="text" class="form-control" name="name" id="space-event-name"
                            :class="{'valid': !$v.spaceEvent.name.$invalid, 'invalid': $v.spaceEvent.name.$invalid }" v-model="$v.spaceEvent.name.$model"  required/>
                        <div v-if="$v.spaceEvent.name.$anyDirty && $v.spaceEvent.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.spaceEvent.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.date')" for="space-event-date">Date</label>
                        <b-input-group class="mb-3">
                            <b-input-group-prepend>
                                <b-form-datepicker
                                    aria-controls="space-event-date"
                                    v-model="$v.spaceEvent.date.$model"
                                    name="date"
                                    class="form-control"
                                    :locale="currentLanguage"
                                    button-only
                                    today-button
                                    reset-button
                                    close-button
                                >
                                </b-form-datepicker>
                            </b-input-group-prepend>
                            <b-form-input id="space-event-date" type="text" class="form-control" name="date"  :class="{'valid': !$v.spaceEvent.date.$invalid, 'invalid': $v.spaceEvent.date.$invalid }"
                            v-model="$v.spaceEvent.date.$model"  required />
                        </b-input-group>
                        <div v-if="$v.spaceEvent.date.$anyDirty && $v.spaceEvent.date.$invalid">
                            <small class="form-text text-danger" v-if="!$v.spaceEvent.date.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.description')" for="space-event-description">Description</label>
                        <textarea class="form-control" name="description" id="space-event-description"
                            :class="{'valid': !$v.spaceEvent.description.$invalid, 'invalid': $v.spaceEvent.description.$invalid }" v-model="$v.spaceEvent.description.$model"  required></textarea>
                        <div v-if="$v.spaceEvent.description.$anyDirty && $v.spaceEvent.description.$invalid">
                            <small class="form-text text-danger" v-if="!$v.spaceEvent.description.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.photo')" for="space-event-photo">Photo</label>
                        <div>
                            <img v-bind:src="'data:' + spaceEvent.photoContentType + ';base64,' + spaceEvent.photo" style="max-height: 100px;" v-if="spaceEvent.photo" alt="spaceEvent image"/>
                            <div v-if="spaceEvent.photo" class="form-text text-danger clearfix">
                                <span class="pull-left">{{spaceEvent.photoContentType}}, {{byteSize(spaceEvent.photo)}}</span>
                                <button type="button" v-on:click="clearInputImage('photo', 'photoContentType', 'file_photo')" class="btn btn-secondary btn-xs pull-right">
                                    <font-awesome-icon icon="times"></font-awesome-icon>
                                </button>
                            </div>
                            <input type="file" ref="file_photo" id="file_photo" v-on:change="setFileData($event, spaceEvent, 'photo', true)" accept="image/*" v-text="$t('entity.action.addimage')"/>
                        </div>
                        <input type="hidden" class="form-control" name="photo" id="space-event-photo"
                            :class="{'valid': !$v.spaceEvent.photo.$invalid, 'invalid': $v.spaceEvent.photo.$invalid }" v-model="$v.spaceEvent.photo.$model"  required/>
                        <input type="hidden" class="form-control" name="photoContentType" id="space-event-photoContentType"
                            v-model="spaceEvent.photoContentType" />
                        <div v-if="$v.spaceEvent.photo.$anyDirty && $v.spaceEvent.photo.$invalid">
                            <small class="form-text text-danger" v-if="!$v.spaceEvent.photo.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.type')" for="space-event-type">Type</label>
                        <select class="form-control" name="type" :class="{'valid': !$v.spaceEvent.type.$invalid, 'invalid': $v.spaceEvent.type.$invalid }" v-model="$v.spaceEvent.type.$model" id="space-event-type"  required>
                            <option value="LAUNCH" v-bind:label="$t('sampleApp.SpaceEventType.LAUNCH')">LAUNCH</option>
                            <option value="LANDING" v-bind:label="$t('sampleApp.SpaceEventType.LANDING')">LANDING</option>
                        </select>
                        <div v-if="$v.spaceEvent.type.$anyDirty && $v.spaceEvent.type.$invalid">
                            <small class="form-text text-danger" v-if="!$v.spaceEvent.type.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('sampleApp.spaceEvent.mission')" for="space-event-mission">Mission</label>
                        <select class="form-control" id="space-event-mission" name="mission" v-model="spaceEvent.mission">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="spaceEvent.mission && missionOption.id === spaceEvent.mission.id ? spaceEvent.mission : missionOption" v-for="missionOption in missions" :key="missionOption.id">{{missionOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.spaceEvent.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./space-event-update.component.ts">
</script>
