<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="spaceEvent">
                <h2 class="jh-entity-heading"><span v-text="$t('sampleApp.spaceEvent.detail.title')">SpaceEvent</span> {{spaceEvent.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{spaceEvent.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.date')">Date</span>
                    </dt>
                    <dd>
                        <span>{{spaceEvent.date}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{spaceEvent.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.photo')">Photo</span>
                    </dt>
                    <dd>
                        <div v-if="spaceEvent.photo">
                            <a v-on:click="openFile(spaceEvent.photoContentType, spaceEvent.photo)">
                                <img v-bind:src="'data:' + spaceEvent.photoContentType + ';base64,' + spaceEvent.photo" style="max-width: 100%;" alt="spaceEvent image"/>
                            </a>
                            {{spaceEvent.photoContentType}}, {{byteSize(spaceEvent.photo)}}
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.type')">Type</span>
                    </dt>
                    <dd>
                        <span v-text="$t('sampleApp.SpaceEventType.' + spaceEvent.type)">{{spaceEvent.type}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('sampleApp.spaceEvent.mission')">Mission</span>
                    </dt>
                    <dd>
                        <div v-if="spaceEvent.mission">
                            <router-link :to="{name: 'MissionView', params: {missionId: spaceEvent.mission.id}}">{{spaceEvent.mission.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="spaceEvent.id" :to="{name: 'SpaceEventEdit', params: {spaceEventId: spaceEvent.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./space-event-details.component.ts">
</script>
