<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('sampleApp.spaceEvent.home.title')" id="space-event-heading">Space Events</span>
            <router-link :to="{name: 'SpaceEventCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-space-event">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('sampleApp.spaceEvent.home.createLabel')">
                    Create a new Space Event
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && spaceEvents && spaceEvents.length === 0">
            <span v-text="$t('sampleApp.spaceEvent.home.notFound')">No spaceEvents found</span>
        </div>
        <div class="table-responsive" v-if="spaceEvents && spaceEvents.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('name')"><span v-text="$t('sampleApp.spaceEvent.name')">Name</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span v-text="$t('sampleApp.spaceEvent.date')">Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('description')"><span v-text="$t('sampleApp.spaceEvent.description')">Description</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('photo')"><span v-text="$t('sampleApp.spaceEvent.photo')">Photo</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'photo'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('type')"><span v-text="$t('sampleApp.spaceEvent.type')">Type</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('mission.name')"><span v-text="$t('sampleApp.spaceEvent.mission')">Mission</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'mission.name'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="spaceEvent in spaceEvents"
                    :key="spaceEvent.id">
                    <td>
                        <router-link :to="{name: 'SpaceEventView', params: {spaceEventId: spaceEvent.id}}">{{spaceEvent.id}}</router-link>
                    </td>
                    <td>{{spaceEvent.name}}</td>
                    <td>{{spaceEvent.date}}</td>
                    <td>{{spaceEvent.description}}</td>
                    <td>
                        <a v-if="spaceEvent.photo" v-on:click="openFile(spaceEvent.photoContentType, spaceEvent.photo)">
                            <img v-bind:src="'data:' + spaceEvent.photoContentType + ';base64,' + spaceEvent.photo" style="max-height: 30px;" alt="spaceEvent image"/>
                        </a>
                        <span v-if="spaceEvent.photo">{{spaceEvent.photoContentType}}, {{byteSize(spaceEvent.photo)}}</span>
                    </td>
                    <td v-text="$t('sampleApp.SpaceEventType.' + spaceEvent.type)">{{spaceEvent.type}}</td>
                    <td>
                        <div v-if="spaceEvent.mission">
                            <router-link :to="{name: 'MissionView', params: {missionId: spaceEvent.mission.id}}">{{spaceEvent.mission.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'SpaceEventView', params: {spaceEventId: spaceEvent.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'SpaceEventEdit', params: {spaceEventId: spaceEvent.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(spaceEvent)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <infinite-loading
                    ref="infiniteLoading"
                    v-if="totalItems > itemsPerPage"
                    :identifier="infiniteId"
                    slot="append"
                    @infinite="loadMore"
                    force-use-infinite-wrapper=".el-table__body-wrapper"
                    :distance='20'>
                </infinite-loading>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="sampleApp.spaceEvent.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-spaceEvent-heading" v-text="$t('sampleApp.spaceEvent.delete.question', {'id': removeId})">Are you sure you want to delete this Space Event?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-spaceEvent" v-text="$t('entity.action.delete')" v-on:click="removeSpaceEvent()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./space-event.component.ts">
</script>
